
{% block content%}

<ul class="nav bar">
    <li>
        <a href="/books">Books</a>
    </li>
    <li>
        <a href="/books/new">Add Book</a>
    </li>
</ul>
</nav>

{% for book in books %}
  <div class="book">
    <div class="content">
      <a href="/books/{{book.id}}">{{book.title}}</a>
      <div class="title">
        {{book.genre}}
        <p><i>{{book.author.first_name}} {{book.author.last_name}}</i></p>
      </div>
      

    <p><a href="/books/{{book.id}}/edit">Edit</a></p>
    
    <p><a href="/books/{{book.id}}/delete">DELETE</a></p>
      <div class="buttons">


    </div>
  </div>
{% endfor %}

{% endblock %}