{% extends 'base.html'%}
 {% block content%}

{% for book in books %}
  <div class="book">
    <div class="content">
      <a href="/books/{{book.id}}">{{book.title}}</a>
      <div class="title">
        {{book.genre}}
        <p><i>{{book.author.first_name}} {{book.author.last_name}}</i></p>
      </div>
    <p><a href="/books/{{book.id}}/edit">Edit</a>
    
    <p><a href="/books/{{book.id}}/delete">DELETE</a></p>
      <div class="buttons">
       
       
    </div>
      {% if book.quantity == 0 %}
        {% print("OUT OF STOCK")%}
      {% elif book.quantity <= 2%}
        {% print("LOW STOCK")%}
      {% endif%}
      <hr>
  </div>
{% endfor %}




{% endblock %}