{% extends 'base.html'%}
 {% block content%}

{% for book in books %}

  <div class="content">
    <div class="spacer"></div>
    <div class="item">
      <a class="title" href="/books/{{book.id}}">{{book.title}}</a>
      <div class="body">
        {{book.genre}}
        <img class="left" src="img/map.jpg" width="180" height="152" alt="sample image">
        <p>{{book.author.first_name}} {{book.author.last_name}}</p>
        <p>{{book.description}}</p>
        <p><a id="body" href="/books/{{book.id}}/edit">Edit</a>
        <p><a id="body"href="/books/{{book.id}}/delete">DELETE</a></p>
        <div class="divider"><span></span></div>
        </div>
      <div class="buttons">
        
       
       
    </div>
      {% if book.quantity == 0 %}
        {% print("OUT OF STOCK")%}
      {% elif book.quantity <= 2%}
        {% print("LOW STOCK")%}
      {% endif%}
   
  </div>
{% endfor %}




{% endblock %}