<!DOCTYPE html>
<html lang="en">
<head>
    <title>Book Shop</title>
    <link rel="stylesheet" href="{{ url_for('static', filername='style.css') }}">   
</head>
<body>
<main>
    <nav>
        <ul>
            <li>
                <a href="/languages"> Languges</a>
            </li>
            <li>
                <a hfer="/authors"> Authors</a>
            </li>
        </ul>
    </nav>
    <section id="content">
        {% block content %}

        {% endblock %}
    </section>
</main>
</body>
</html>