<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">   
  
    
   
</head>
<div class="container">
<div class="top">
    <nav class="navigation">
        <a href="/books">Books</a>
        <a href="/books/new">Add Book</a>
        <a href="/authors">Authors</a>
        <a href="/authors/new">Add Author</a>
        <a href="/">YOUR INVENTORY</a>
        <form action="/filter" method="POST">
            <input type="text" id='search-form' name='search-form' placeholder="search?">
            <button type="submit">Submit</button>            
        </form> 
    </nav>
    <div class="pattern">
        <span></span>
    </div>
    <div class="header">
    <h1>This isn't Waterstones!</h1>
    </div>
    <div class="pattern">
        <span></span>
    </div>
</div>

<body>

<body>
    <div>
        {% block content %}

        {% endblock %}
    </div>

</body>
</html>

