{% extends 'base.html'%}

{% block content %}

<h3>BOOK INVENTORY</h3>

<body>
    
{% for book in books %}
  <div class="book">
    <div class="content">
   
        <p><i>{{book.author.first_name}} {{book.author.last_name}}</i></p>
      </div>
    <p><b>Title:<b/> {{  book.title  }} Genre: {{  book.genre  }},  Language: {{  book.language}}, Quantity:{{book.quantity}}, Buying Price: {{book.buying_price}}, Selling Price: {{book.selling_price}}</b></p>
    <hr>
    {% endfor %}
</body>


<h2> Your Stock List</h2>
{% endblock %}