{% extends 'base.html'%}

{% block content %}

<h3>BOOK INVENTORY</h3>

<body>
    
{% for book in books %}
  <div class="book">
    <div class="bookItem">
   
        <p><i>{{book.author.first_name}} {{book.author.last_name}}</i></p>
      </div>
    <p>Title:<b>{{  book.title  }}</b> Genre: <b>{{  book.genre  }}</b>,  Language: <b>{{  book.language}}</b></p>
    <p>Quantity:<b>{{book.quantity}}</b>, Buying Price: <b>{{book.buying_price}}</b>, Selling Price: <b>{{book.selling_price}}</b>, Markup Value: <b>{{book.selling_price - book.buying_price}}<b></p>
    <hr>
    {% endfor %}
</body>


<h2> Your Stock List</h2>
{% endblock %}